{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>面試</title>

    <link href="{% static 'assets/styles/app.css' %}" rel="stylesheet" type="text/css" />
    <script type="module" src="{% static 'assets/scripts/app.js' %}"></script>
</head>
<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
    {% include "shared/navbar.html" %}
    {% include "shared/messages.html" %}

    
    <main class="container mx-auto my-6">{% block main %}{% endblock %}</main>
    {% include "shared/footer.html" %}
</body>
</html>