{% extends "layouts/default.html" %}

{% block main %}
<h1>編輯: {{ interview.company_name }}</h1>

<form action="{% url "interviews:show" interview.id %}" method="post" onsubmit="return confirm('是否確定要修改資料？')">
    {% csrf_token %}
    {% comment %} <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"> {% endcomment %}

    {% for field in form %}
        <div>
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
            <div>
                {{ field.help_text }}
            </div>
        </div>
    {% endfor %}

    {% comment %} {{ form }} default 是 as_div {% endcomment %}
    {% comment %} {{ form.as_p }} 變成 p 標籤 {% endcomment %}

    <a href="{% url "interviews:index" %}">回面試列表</a>
    <a href="{% url "interviews:show" interview.id %}">回上一頁</a>
    <input type="submit" value="更新">
</form>

{% endblock %}


