<h1>編輯: {{ interview.company_name }}</h1>

<form action="{% url "interviews:show" interview.id %}" method="post">
    {% csrf_token %}
    {% comment %} <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"> {% endcomment %}
    <div>
        <label for="company_name">公司名稱</label>
        <input name="company_name" value="{{ interview.company_name }}" type="text" id="company_name">
    </div>
    <div>
        <label for="position">職稱</label>
        <input name="position" value="{{ interview.position }}" type="text" id="position">
    </div>
    <div>
        <label for="interview_date">面試日期</label>
        <input name="interview_date" value="{{ interview.interview_date|date:"Y-m-d" }}" type="date" id="interview_date">
    </div>
    <div>
        <label for="rating">評分</label>
        <input name="rating" value="{{ interview.rating }}" type="number" id="rating">
    </div>
    <div>
        <label for="result">結果</label>
        <input name="result" value="{{ interview.result }}" type="text" id="interview_date">
    </div>
    <div>
        <label for="review">心得</label>
        <textarea name="review" id="review">{{ interview.review }}</textarea>
    </div>

    <a href="{% url "interviews:index" %}">回面試列表</a>
    <a href="{% url "interviews:show" interview.id %}">回上一頁</a>
    <input type="submit" value="更新">

    
    
</form>
