{% extends "layouts/default.html" %}

{% block 'main'%}
<h1>面試列表</h1>

{% comment %} <a href="/interviews/new">新增面試</a> {% endcomment %}

<a href="{% url "interviews:new" %}">新增面試</a>

<p>請列出面試列表</p>

<ul>
{% for interview in interviews %}
    <li>
        <a href="{% url "interviews:show" interview.id %}">
        {% comment %} <a href="/interviews/{{ interview.id }}"> {% endcomment %}
        
            <section>
                <h2>{{ interview.company_name }}</h2>
                <h3>{{ interview.position }}</h3>
                <span>評價： {{ interview.rating }}/10</span>
            </section>
        </a>
    </li>
{% endfor %}
</ul>
{% endblock %}






