{% extends "layouts/default.html" %}

{% block 'main'%}
<h1>新增面試</h1>

<a href="{% url 'interviews:index' %}">回面試列表</a>

{% comment %} HTML 只支援 GET POST 兩種 method {% endcomment %}
{% comment %} PUT/PATCH DELETE 用 javascript 執行 (fetch/axios) {% endcomment %}
{% comment %} django 對於 form post 行為會做檢查，沒有 csrf token 的話，送過來的資料都視為偽造 {% endcomment %}
{% comment %} csrf 跨站請求偽造: 另外寫 code 攻擊 {% endcomment %}
{% comment %} django template 有內建 csrf_token {% endcomment %}
{% comment %} input 裡的 "name" 才是給後端看的 {% endcomment %}
{% comment %} name 不能重複 {% endcomment %}
<form action="{% url 'interviews:index' %}" method="post" onsubmit="return confirm('是否確定要新增資料？')">
    {% csrf_token %}
    {% comment %} <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"> {% endcomment %}

    {% for field in form %}
        <div>
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
            <div>
                {{ field.help_text }}
            </div>
        </div>
    {% endfor %}

    <div>
        <input type="submit" value="新增">
        {% comment %} <button type="submit" id="add">新增</button> {% endcomment %}
    </div>
    
    
</form>
{% endblock %}



